.editor{
  background-color: white;
  border: 1px solid $grey;
  display: flex;
  flex-direction: column;
  padding: $large-space;
  width: 100%;
}
.editor__title{
  border: none;
  border-bottom: 2px solid $grey;
  font-size: $big-font-size;
  margin-bottom: $space;
  outline: none;
  padding: $input-spacing;
}
.editor__body{
  font-weight: 300;
  flex-grow: 0;
  height: 40rem;
  margin-bottom: $space;
  outline: none;
  padding: $input-spacing;
  position: static;
  resize: none;
  -webkit-overflow-scrolling: touch;
  @include Desktop{
    flex-grow: 1;
  };
}
.editor__message{
  text-align: center;
  margin: $large-space * 2;
  font-style: italic;
}
