.header
{
  background: $header-bg;
  color: $header-color;
}
.header-content
{
  align-items: center;
  display: flex;
  height: $header-height;
  justify-content: space-between;
  align-items: center;
  max-width: $site-max-width;
  margin: 0 auto;
  padding: $space;
}
.header__nav-toggle{
  cursor: pointer;
  width: 2rem;
  height: 2rem;
  @include Desktop{
    display: none;
  };
}

.header__title
{
  margin: 0;
}
