.page-content
{
  display: flex;
  height: $page-content-height;
  margin: 0 auto;
  padding: $large-space $space;
  max-width: $site-max-width;
}
.page-content__sidebar{
  display: flex;
  width: $page-content-sidebar-width;
  margin-right: $large-space;
}
.page-content__main{
  display: flex;
  width: $page-content-main-width;
}
