.page-content
{
  display: flex;
  height: $page-content-height;
  margin: 0 auto;
  max-width: $site-max-width;
  @include Desktop {
    padding: $large-space $space;
  };
}
.page-content__sidebar{
  display: none;
  width: $page-content-sidebar-width;
  margin-right: $large-space;
  @include Desktop{
    display: flex;
  };
}
.page-content__main{
  display: flex;
  width: 100%;
  @include Desktop{
    width: $page-content-main-width;
  }
}
